<ul class="list-group" *ngIf="cartItems.length > 0">
  <li
    data-toggle="tooltip"
    data-placement="bottom"
    title="{{ product.title }}"
    class="list-group-item"
    *ngFor="let product of cartItems">
    <div class="row">
      <div class="col-2">
        <img src="{{ product.picture }}" alt="" class="img-fluid">
      </div>
      <div class="col-8">
        <div class="row">
          <div class="col-12">{{ transformTitle(product.title) }}</div>
          <div class="col-8">
            <h4>{{ product.quantityInCart }}x</h4>
          </div>
          <div class="col-4">
            <button class="btn-outline-success mr-2 p-1" (click)="add(product)">
              <i class="fas fa-plus"></i>
            </button>
            <button class="btn-outline-danger p-1" (click)="remove(product.id, true)">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="col-2">
        <button (click)="remove(product.id, false)" class="btn btn-sm btn-outline-danger">
          <i class="fas fa-trash-alt"></i>
        </button>
      </div>
    </div>
  </li>


  <li class="list-group-item">
    <div class="row">
      <div class="col-6">
        <p>Total: </p>
      </div>
      <div class="col-6">
        <p>R$: {{ cartService.totalPrice }}</p>
      </div>
    </div>
  </li>

</ul>
<div class="py-5 list-group" *ngIf="cartItems.length === 0">
  <p class="text-center text-muted">Seu carrinho está vazio</p>
</div>
