<!-- header -->
<header class="bg-dark">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light py-4 mb-4 d-flex justify-content-between align-items-center">

      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navHeader"
              aria-controls="navHeader"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <h4 class="m-0 font-weight-bold text-center">
        <a href="#" class="navbar-brand text-white">
            JUST DIGITAL
        </a>
      </h4>

      <div class="dropdown">
        <button class="btn btn-lg btn-outline-secondary dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
        (click)="openDropdown()">
          <i class="fas fa-shopping-cart"></i>
          <span class="badge badge-primary"></span>
        </button>
        <div class="dropdown-menu dropdown-menu-right" id="dropdownMenu">
          <app-cart-list></app-cart-list>
        </div>
      </div>

    </nav>
  </div>
</header> <!-- header -->

<!-- main -->
<main>
  <div class="container">
    <app-item-list></app-item-list>
  </div>
</main> <!-- main -->

<!-- footer -->
<footer>

</footer><!-- footer -->
