<div class="row">
  <div class="col-12 col-md-3 col-lg-3 mb-5" *ngFor="let product of products">
    <div class="card w-100 h-100">
      <img [src]="product.picture" class="card-img-top my-2" />
      <div class="card-body">
        <h6 class="card-title">{{ product.title }}</h6>
        <h6>R$ {{ product.price }}</h6>
        <button class="btn btn-outline-primary" (click)="addInCart(product)">
          Adicionar ao carrinho <i class="fas fa-shopping-cart"></i>
        </button>
      </div>
    </div>
  </div>
</div>
