/* You can add global styles to this file, and also import other style files */


$font-family: 'IBM Plex Sans', sans-serif;
$primary: #4e3d83;
$secondary: #edebf3;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@import "~bootstrap/scss/bootstrap";
